.root {
    -fx-background-color: mintcream;
}

.label
{
    -fx-font-size: 14px;
    -fx-background-color: mintcream;
    -fx-border-width: 25%;
    -fx-font: calbri;

}
.imageView
{
-fx-alignment: center;
}


